.body::before,
.body::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #33323d;
    opacity: 0.2;
}

.body::before {
    margin-top: 32px;
    margin-bottom: 24px;
}

.body::after {
    margin-top: 24px;
    margin-bottom: 72px;
}

.title {
    margin: 0;
    margin-bottom: 18px;
}

.summary {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 54px;
}

.images {
    width: 100%;
}

.linkBtn {
    display: inline-block;
    padding: 1.4166em 2.6666em;
    font-size: 12px;
    color: #33323d;
    border: 1px solid #33323d;
    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.linkBtn:hover,
.linkBtn:focus {
    color: white;
    background-color: #33323d;
    opacity: 1;
}

@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: minmax(239px, 440px) minmax(181px, 415px);
        gap: 69px;

        margin-bottom: 80px;
    }
    .reversed {
        grid-template-columns: minmax(181px, 415px) minmax(239px, 440px);
    }

    .body {
        max-width: 350px;
        border-block: 1px solid rgb(51, 50, 61, 0.2);
    }

    .reversed > .imageContainer {
        grid-column: 2 / 3;
    }
    .reversed > .body {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .body::before {
        margin-top: 28px;
        margin-bottom: 23px;
    }

    .body::after {
        margin-bottom: 0;
        margin-bottom: 50px;
    }

    .body::before,
    .body::after {
        height: 0;
    }

    .title {
        line-height: 42px;
        margin-bottom: 29px;
    }

    .summary {
        margin-bottom: 35px;
        padding-right: 6px;
    }

    .imageContainer {
        align-self: center;
    }

    .images {
        min-width: 200px;
    }
}

@media (min-width: 1000px) {
    .container {
        margin-top: 56px;
        display: grid;
        grid-template-columns: minmax(440px, 540px) minmax(250px, 350px);
        gap: 125px;
    }

    .imageContainer {
        align-self: initial;
    }

    .body {
        max-height: 500px;
    }

    .body::before {
        margin-bottom: 103px;
    }

    .body::after {
        margin-top: 103px;
    }

    .reversed {
        grid-template-columns: minmax(250px, 350px) minmax(440px, 540px);
        justify-content: end;
    }

    .summary {
        font-size: 16px;
        margin-top: 0;
        padding-right: 0;
    }

    .title {
        margin-bottom: 28px;
    }

    .imageContainer {
        align-self: initial;
    }

    .images {
        display: block;
        width: 100%;
        max-width: 540px;
        max-height: 500px;
    }
}
