.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33323d;
    margin: 0;
    padding: 56px 0px;
    min-height: 354px;
}

.logo {
    /* margin-top: 56px; */
    margin-bottom: 2.5em;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    gap: 2em;
    display: flex;
    list-style: none;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
}

.social {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
