.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2em 0 2.5em 0;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    max-width: 1110px;
    margin: 0;
    padding: 0 2.4375em;
}

.img {
    display: block;
}

.nav {
    margin-left: auto;
    display: none;
}

/*================= 
    Burger Menu 
===================*/

.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    padding: 0;
    position: absolute;

    top: 5rem;
    right: 2rem;

    min-width: 14.5625rem;
    min-height: 11.625rem;

    background-color: #33323d;
    color: white;
    list-style: none;
}

.burgerItem {
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: white;
}

.hideMenu {
    display: none;
}

/*========================
    Regular Nav & Items 
  ========================*/
.menuNav {
}

.list {
    padding: 0;
    gap: 1em;
    margin: 0;
    display: flex;
    list-style: none;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #33323d;
}

.menu {
    cursor: pointer;
    background: none;
    border: none;
}

/* Hiding & Revealing Nav Menus */

.open {
    display: none;
}

.hideNav {
    display: none;
}

@media (min-width: 600px) {
    .container {
        margin: 4em 0 2.9375em 0;
    }

    .menu {
        display: none;
    }

    .nav {
        display: contents;
    }

    .showMenu {
        display: none;
    }

    .menuNav {
        display: none;
    }

    .list {
        gap: 2.625em;
    }
}

@media (min-width: 1000px) {
    .container {
        padding: 0;
        margin: 4em 0px 3.375em 0px;
    }
}
