@value breakpoints: "./Bpoints.module.css";
@value small, medium, large from breakpoints;

.layout {
    display: grid;
    grid-template-columns: 32px minmax(350px, 1111px) 32px;
    grid-template-rows: auto;
    grid-template-areas:
        "header  header  header"
        "...... content ......"
        "footer  footer  footer";
    justify-content: center;
    min-height: 100vh;
}

.container {
    grid-area: content;
    width: 100%;
}

@media (medium) {
    .container {
    }
}
