@value breakpoints: "./Bpoints.module.css";
@value small, medium, large from breakpoints;

.layout {
    /* position: relative; */
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    padding: 0 2em;
    margin: 0 auto;
    /* max-width: 1110px; */
    max-width: 69.375rem;
    /* position: absolute; */
    /* min-height: 100%; */
    padding-bottom: 2.5rem;
}

@media (medium) {
    .container {
        padding: 0 2.4375em;
    }
}
