.container {
    padding: 0 2em;
    margin: 0 auto;
    /* max-width: 1110px; */
    max-width: 69.375rem;
    min-height: 100vh;
}

@media (min-width: 37.5em) {
    .container {
        padding: 0 2.4375em;
    }
}
