.container {
    grid-area: header;

    display: grid;
    grid-template-columns: 32px minmax(200px, 1111px) 32px;
    align-content: center;
    grid-template-areas: ". navbar .";
    justify-content: center;

    padding: 0;

    background-color: #fafafa;
}

.body {
    grid-area: navbar;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    margin-block: 32px 24px;
}

.img {
    display: block;
}

.nav {
    margin-left: auto;
    display: none;
}

/*================= 
    Burger Menu 
===================*/

.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    padding: 0;
    margin: 0;
    position: absolute;

    top: 88px;
    right: 32px;

    min-width: 14.5625rem;
    min-height: 11.625rem;

    background-color: #33323d;
    color: white;
    list-style: none;
    z-index: 1;
}

.burgerItem {
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: white;
}

.hideMenu {
    display: none;
}

/*========================
    Regular Nav & Items 
  ========================*/

.list {
    padding: 0;
    gap: 1em;
    margin: 0;
    display: flex;
    list-style: none;
    margin-left: auto;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #33323d;
}

.menu {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: auto;
}

/* Active : NonActive Link Colors */

.active {
    color: #5fb4a2;
    pointer-events: none;
}

.nonActive {
    color: #33323d;
}

/* Hiding & Revealing Nav Menus */

.open {
    display: none;
}

.hideNav {
    display: none;
}

@media (min-width: 600px) {
    .body {
        margin-block: 64px 31px;
    }

    .menu {
        display: none;
    }

    .nav {
        display: contents;
    }

    .showMenu {
        display: none;
    }

    .menuNav {
        display: none;
    }

    .list {
        gap: 2.625em;
    }
}

@media (min-width: 1000px) {
}

@media (min-width: 1180px) {
    .container {
        padding: 0;
    }

    .body {
        /* padding: 0; */
        margin-block: 64px 38px;
    }
}
