.container {
    position: relative;
    /* object-fit: contain; */
    /* height: auto; */
    max-width: 500px;
    height: 288px;
}

.mobile {
    display: block;
    border: 1px solid #000;
    object-fit: contain;
}

.tablet,
.desktop {
    display: none;
}

@media (min-width: 600px) {
    .container {
        max-width: 400px;
        min-height: 314px;
    }

    .tablet {
        display: contents;
        object-fit: contain;
    }

    .mobile,
    .desktop {
        display: none;
    }
}

@media (min-width: 1000px) {
    .desktop {
        display: contents;
        object-fit: contain;
    }
    /* 
    .mobile,
    .tablet {
        display: none;
    } */
}
