@value breakpoints: "./Bpoints.module.css";
@value small, medium, large from breakpoints;

.linkBtn {
    display: inline-block;
    padding: 1.4166em 2.6666em;
    font-size: 12px;
    color: #33323d;
    border: 1px solid #33323d;
    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.linkBtn:hover,
.linkBtn:focus {
    color: white;
    background-color: #33323d;
    opacity: 1;
}

.contactMe {
    margin: 7.1875em 0 5em;
    text-align: center;
}

.contactTitle {
    margin-bottom: 1em;
}

@media (medium) {
    .contactMe {
        display: flex;
        align-items: center;
        gap: 32px;

        margin: 150px 0;
    }
    .contactTitle {
        display: flex;
        align-items: center;
        flex-grow: 1;

        gap: 32px;
    }

    .contactTitle::after {
        content: "";
        display: block;

        width: 50%;
        height: 1px;

        background-color: #33323d;
        opacity: 0.15;
    }

    .linkContainer {
        flex-shrink: 0;
    }
}
