@value breakpoints: "../components/Bpoints.module.css";
@value small, medium, large from breakpoints;

.main {
    min-height: 100%;
    /* margin-top: 40px; */
    margin-top: 16px;
}

.title {
    margin: 0;
    margin-top: 24px;
}

.body {
    /* line-height: 30px */
    font-size: 15px;
    line-height: 1.875;
}

.intro::before,
.intro::after {
    content: "";
    display: block;

    height: 1px;
    width: 100%;

    background-color: #33323d;
    opacity: 0.15;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 0;
    margin-top: 24px;

    list-style: none;
}

.social:hover {
    list-style: none;
}

.socialIcon:hover svg .icon,
.socialIcon:focus svg .icon {
    fill: #5fb482;
}

/*============
Form
==============*/

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.input,
.label {
    font: inherit;
    display: block;
    font-size: 13px;
}

.label {
    font-weight: 700;
    margin-bottom: 8px;
}

.input {
    min-height: 48px;
    margin-bottom: 24px;
    background-color: rgba(51, 50, 61, 0.1);
    color: rgba(51, 50, 61, 0.4);
    /* opacity: 0.4; */
    padding: 0.6923em 1.2307em;
    border: none;
}

.input:focus {
    outline: none;
    border: 1px solid #5fb482;
}
.input:focus::placeholder {
    content: "";
    color: transparent;
}

.hasError {
    border: 1px solid red;
}

/* .input:required:invalid {
    border: 1px solid red;
}
.input:required:focus {
    border: 1px solid #5fb482;
} */

.message {
    resize: none;
    min-height: 96px;
}

.btn {
    color: #fff;
    background-color: #203a4c;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 200px;
    min-height: 48px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #5fb482;
}

@media (medium) {
    .main {
        margin-top: 63px;
        padding: 0;
    }

    .body {
        margin-top: 0;
        margin-bottom: 24px;
        line-height: 30px;
    }

    .intro::before,
    .intro::after {
        margin-bottom: 32px;
    }

    .form {
        margin-bottom: 56px;
    }

    .input {
        padding-block: 9px;
    }

    .label {
        line-height: 30px;
    }

    .social {
        margin-bottom: 32px;
        max-height: 24px;
    }

    .title {
        margin-bottom: 24px;
        line-height: 42px;
        letter-spacing: -0.36px;
    }

    .formTitle {
        margin-bottom: 32px;
        margin-top: 0;
        line-height: 42px;
        letter-spacing: -0.36px;
    }
}

@media (large) {
    .main {
        margin-top: 56px;
    }

    .form {
        margin-bottom: 109px;
    }

    .introContainer {
        display: grid;
        grid-template-columns: 350px minmax(350px, 635px);
        column-gap: 125px;
    }
    .intro::before {
        margin-bottom: 0;
    }
    .intro::after {
        margin-top: 48px;
    }

    .title {
        grid-row: 1/2;
        margin-top: 48px;
    }

    .body {
        margin-top: 48px;
        grid-column: 2;
        grid-row: 1;
        font-size: 16px;
    }

    .social {
        grid-column: 2;
        align-self: start;
        margin: 0;
    }

    .input {
        padding-block: 16px;
    }

    .form {
        display: grid;
        grid-template-columns: 350px minmax(350px, 635px);
        column-gap: 125px;
        margin-top: 48px;
    }

    .formTitle {
        margin: 0;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
