@value breakpoints: "../components/Bpoints.module.css";
@value small, medium, large from breakpoints;

.main {
    min-height: 100%;
    /* display: grid; */
    /* grid-template-rows: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* display: flex; */
    /* flex-direction: column; */
}

.title {
    margin: 0;
    margin-top: 24px;
}

.body {
    /* line-height: 30px */
    line-height: 1.875;
}

.intro::before,
.intro::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #33323d;
    opacity: 0.15;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 32px;
}

.social:hover {
    list-style: none;
}

.socialIcon:hover svg .icon,
.socialIcon:focus svg .icon {
    fill: #5fb482;
}

/*============
    Form
==============*/

.form {
    display: flex;
    flex-direction: column;
}

.input,
.label {
    font: inherit;
    display: block;
    font-size: 13px;
}

.label {
    font-weight: 700;
    margin-bottom: 8px;
}

.input {
    /* font: inherit; */
    min-height: 48px;
    margin-bottom: 24px;
    /* padding: 1em 1.2307em; */
    padding: 0.6923em 1.2307em;
}

.message {
    /* text-align: start; */
    /* font: inherit; */
    resize: none;
    min-height: 96px;
}
