:root {
    --primary-font-color: #33323d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans" sans-serif;
    color: var(--primary-font-color);
}

p {
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: "Ibarra Real Nova";
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: 400;
    font-size: 32px;
}
