@value breakpoints: "../components/Bpoints.module.css";
@value small, medium, large from breakpoints;

.main {
    min-height: 100%;
    /* margin-top: 40px; */
    margin-top: 16px;
}

.heroSection {
    margin-bottom: 87px;
}

/* IMAGES */
.heroImage {
    display: block;

    margin-bottom: 24px;

    max-width: auto;
    min-height: 271px;
    max-height: 100%;

    background-image: url("../public/images/homepage/mobile/image-homepage-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.heroTitle {
    line-height: 42px;
    letter-spacing: -0.36px;
    padding-right: 1px;
    margin-top: 0;
    margin-bottom: 32px;
}

/* Author */
.aboutMeSection {
    margin-bottom: 115px;
}

.aboutMe::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    /* margin: 2em 0 2em; */
    background-color: #33323d;
    opacity: 0.15;
}

.aboutMe::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    /* margin: 51px 0 0; */
    margin: 3.1875rem 0 0;
    background-color: #33323d;
    opacity: 0.15;
}

.aboutBody {
    /* line-height: 1.875; */
    line-height: 30px;
    opacity: 0.8;
    margin-bottom: 24px;
}

.btnContainer {
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    /* margin-bottom: 96px; */
    /* margin-bottom: 6em; */
    background-color: #203a4c;
}

.grid_container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 48px 152px;
    grid-template-areas: "arrow button";
}

/* Buttons */
.btn {
    display: flex;
    align-items: center;
    padding: 1.0625em 0;
    margin: 0;
    grid-area: button;
    font-family: inherit;

    color: white;
    background-color: transparent;

    border: none;
    cursor: pointer;
}

.btnImage {
    padding: 0;
    margin: 0;
    padding: 1.125em 1em;
    grid-area: arrow;
}
.btnImageDark {
    padding: 0;
    margin: 0;
    padding: 1.125em 1em;
    background-color: #000;
    opacity: 0.1;
    grid-area: arrow;
    order: 2;
}

.btnArrows {
    grid-area: arrow;
    align-self: center;
    justify-self: center;
    fill: none;
    stroke-width: 1;
}

.btnText {
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 2px;
}

.btnContainer:hover .stroke {
    stroke: white;
}

.btnContainer:hover {
    background-color: #5fb4a2;
}

.btnContainer:hover > svg:hover > .stroke {
    stroke: white;
    /* background-color: red; */
}

.linkBtn {
    display: inline-block;
    padding: 1.4166em 2.6666em;
    font-size: 12px;
    color: #33323d;
    border: 1px solid #33323d;
    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.linkBtn:hover,
.linkBtn:focus {
    color: white;
    background-color: #33323d;
    opacity: 1;
}

/* Mobile@2 */

@media (small) {
    .heroImage {
        background-image: url("../public/images/homepage/mobile/image-homepage-hero@2x.jpg");
    }
    .author {
        margin-bottom: 28px;
        text-align: center;
    }
    .aboutTitle {
        margin-top: 29px;
        margin-bottom: 28px;
    }
}
/* Tabelet */
@media (medium) {
    .main {
        /* margin-top: 47px; */
    }
    .heroSection {
        position: relative;
        margin-bottom: 96px;
    }

    .heroImage {
        /* min-width: 688px; */
        min-height: 600px;
    }
    .heroImage {
        min-height: 600px;
        background-image: url("../public/images/homepage/tablet/image-homepage-hero.jpg");
    }

    .heroIntro {
        position: absolute;
        background-color: white;
        bottom: 0;
        /* max-width: 514px; */
        min-width: 514px;
    }

    .heroTitle {
        overflow: hidden;
        margin-bottom: 48px;
        margin-top: 56px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        max-width: 458px;
        padding: 0 1em 0 0;
    }

    .btnContainer {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .aboutMeSection {
        display: grid;
        grid-template-columns: minmax(250px, 281px) minmax(250px, 339px);
        gap: 4.375em;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    .aboutMe::before {
        margin-top: 0;
    }
}

@media (min-width: 640px) {
    .author {
        align-self: center;
    }
}

/* Desktop */
@media (large) {
    .main {
        /* margin-top: 54px; */
    }
    .heroImage {
        min-height: 600px;
        background-image: url("../public/images/homepage/desktop/image-homepage-hero.jpg");
        background-position: initial;
    }

    .heroTitle {
        min-width: 0;
        max-width: 0;
        margin-bottom: 53px;
        margin-right: 55px;
        line-height: 50px;
        min-width: 390px;
        padding-right: 0.2em;
    }
    .heroIntro {
        min-width: 0;
    }

    .aboutMeSection {
        grid-template-columns: minmax(400px, 540px) minmax(250px, 350px);
        margin-top: 150px;
        margin-bottom: 150px;
        gap: 125px;
    }

    .aboutMe::before {
        margin-bottom: 50px;
    }

    .aboutMe::after {
        margin-top: 47px;
    }

    .author {
        align-self: auto;
    }

    .aboutBody {
        /* margin-right: 0.3em; */
    }
}
