.container {
    min-height: 100%;
    margin-bottom: 80px;
    margin-top: 7px;
}

@media (min-width: 37.5em) {
    .container {
        margin-top: 63px;
        margin-bottom: 96px;
    }
}
@media (min-width: 62.5em) {
    .container {
        margin-top: 56px;
        margin-bottom: 150px;
    }
}
