.container {
    /* margin-top: 40px; */
    margin-top: 16px;
}
.image {
    margin-bottom: 40px;
}

.projectContainer {
    margin-bottom: 65px;
}

.summaryContainer::before,
.summaryContainer::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(51, 50, 61, 0.15);
}

.summaryContainer::before {
    margin-bottom: 24px;
}

.summaryContainer::after {
    margin-bottom: 48px;
}

.title {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    margin-top: 0;
}

.summary {
    font-size: 15px;
    line-height: 2;
}

.metaContainer {
    color: #5fb4a2;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 24px;
}

.projectType {
    display: flex;
}

.lng:not(:last-child)::after {
    content: "/ ";
}

.link {
    display: inline-block;
    margin-bottom: 24px;
}

.btn {
    cursor: pointer;
    background-color: white;
}

.backgroundContainer {
}

.subTitle {
    margin-top: 0;
    margin-bottom: 28px;
}

.background {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
}

/* Previews */
.previewsContainer {
    display: flex;
    flex-direction: column;
}

.previewTitle {
    margin-bottom: 40px;
}

.previewImage {
    margin-bottom: 32px;
}

.previewImage2 {
    /* margin-bottom: 64px; */
}

.navContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 64px;
}

.projectNav {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}

.navNext {
    align-items: flex-end;
    border-left: 1px solid rgb(51, 50, 61, 0.15);
}

.navBtn {
    text-decoration: none;
    color: #33323d;
}

.navBtnNext {
    text-align: end;
}

.leftArrow,
.rightArrow {
    margin-block: 24px 16px;
}

.navTitle,
.navText {
    margin: 0;
    padding: 0;
}

.navTitle {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 36px;
}
.navText {
    margin: 0;
    margin-bottom: 24px;
    opacity: 0.5;
}

@media (min-width: 600px) {
    .container {
        /* margin-top: 94px; */
        margin-top: 63px;
    }

    .summaryContainer {
        border-top: 1px solid rgb(51, 50, 61, 0.15);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 33%);
    }

    .projectContainer {
        margin-bottom: 80px;
    }

    .navContainer {
        margin-bottom: 80px;
    }

    .title {
        margin-top: 32px;
        margin-bottom: 16px;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .summary {
        margin-top: 32px;
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .metaContainer {
        grid-row: 2 / 3;
    }

    .link {
        grid-row: 3;
    }

    /* Nav Buttons */

    .projectNav {
    }

    .navPrev {
        flex-direction: row;
        align-items: center;
    }

    .navNext {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .leftArrow {
        margin-right: 32px;
    }
    .rightArrow {
        margin-left: 32px;
    }

    .navTitle {
        margin-top: 33px;
    }

    .navText {
        margin: 0;
        margin-bottom: 33px;
    }
}

@media (min-width: 1000px) {
    .container {
        margin-top: 56px;
    }

    .projectContainer {
        display: grid;
        grid-template-columns: 350px 635px;
        gap: 125px;

        margin-bottom: 64px;
    }
    .summaryContainer {
        display: initial;
        border-top: none;
        margin-top: 0;
    }
    .navContainer {
        margin-bottom: 115px;
    }

    .image {
        margin-bottom: 115px;
    }

    .title {
        margin-top: 49px;
        margin-bottom: 29px;
    }

    .metaContainer {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 32px;
    }

    .projectType {
        margin-bottom: 16px;
    }

    .link {
        margin-bottom: 48px;
    }

    .subTitle {
        letter-spacing: -0.29px;
        line-height: 42px;
    }

    .previewTitle {
        letter-spacing: -0.29px;
        line-height: 42px;
        margin-bottom: 28px;
    }

    .previewImage,
    .previewImage2 {
        object-fit: initial;
        height: auto;
    }

    .previewImage2 {
        margin-bottom: 0;
    }
}
