.image {
    margin-bottom: 40px;
}
.summaryContainer {
}

.summaryContainer::before,
.summaryContainer::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(51, 50, 61, 0.15);
}

.summaryContainer::before {
    margin-bottom: 24px;
}

.summaryContainer::after {
    margin-bottom: 48px;
}

.title {
    margin-top: 0;
}

.summary {
    font-size: 15px;
    line-height: 2;
}

.metaContainer {
    color: #5fb4a2;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 24px;
}

.projectType {
    display: flex;
}

.lng:not(:last-child)::after {
    content: "/ ";
}

.link {
    display: inline-block;
    margin-bottom: 24px;
}

.btn {
    /* display: inline-block; */
    cursor: pointer;
    background-color: white;
    /* margin-bottom: 24px; */
}

.backgroundContainer {
}

.subTitle {
    margin-top: 0;
    margin-bottom: 28px;
}

.background {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
}

/* Previews */
.previewsContainer {
    display: flex;
    flex-direction: column;
}

.previewTitle {
    margin-bottom: 40px;
}

.previewImage {
    margin-bottom: 32px;
}

.previewImage2 {
    margin-bottom: 64px;
}

.navContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projectNav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border-top: 1px solid rgb(51, 50, 61, 0.15);
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}

.navNext {
    align-items: flex-end;
    border-left: 1px solid rgb(51, 50, 61, 0.15);
}

.navBtn {
    /* display: flex; */
    /* flex-direction: column; */
    text-decoration: none;
    color: #33323d;
}

.navBtnNext {
    text-align: end;
}

.leftArrow,
.rightArrow {
    margin-block: 24px 16px;
}

.leftArrow {
    /* margin-right: 32px; */
}

.rightArrow {
    /* margin-left: 32px; */
}

.navTitle,
.navText {
    margin: 0;
    padding: 0;
}

.navTitle {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 36px;
}
.navText {
    margin: 0;
    margin-bottom: 24px;
    opacity: 0.5;
}

@media (min-width: 600px) {
    .summaryContainer {
        border-top: 1px solid rgb(51, 50, 61, 0.15);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 33%);
    }
    .title {
        margin-top: 32px;
        margin-bottom: 16px;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .summary {
        margin-top: 32px;
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .metaContainer {
        grid-row: 2 / 3;
    }

    .link {
        grid-row: 3;
    }

    /* Nav Buttons */

    .projectNav {
    }

    .navPrev {
        /* display: flex; */
        flex-direction: row;
        align-items: center;
    }

    .navNext {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        /* justify-content: center; */
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .leftArrow {
        margin-right: 32px;
    }
    .rightArrow {
        margin-left: 32px;
    }

    .navTitle {
        margin-top: 33px;
    }

    .navText {
        margin: 0;
        margin-bottom: 33px;
    }
}
